html {
    transition: background-color 0.3 ease, color 0.3 ease;
}

article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

#btn-back-to-top {
    display: none;
}

#blog-header {
    font-size: 2.25rem !important;
}

#intro-image {
    min-height: 50vh;
    background: url(./images/personal-photo.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#outdoors-image {
    background: url(./images/outdoors.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#programming-image {
    background: url(./images/programming.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#cooking-image {
    background: url(./images/cooking.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

/* Outdoors */

.outdoor-image{
    width: -webkit-fill-available;
}

.full-story{
    display: none;
}

/* Carousel */
/* .carousel{
    display: flex !important;
    flex-direction: column !important;
}

.carousel-inner{
    max-height: 33.33333333%;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.3333333%);
}

.carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.3333333%);
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
} */


/* Light-dark mode CSS */

/* .icon {
    height: 1rem;
    width: 1rem;
    fill: currentColor;
}

.btn-custom-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bt-mode-toggle {
    z-index: 1500;
}


.bt-mode-toggle .dropdown-menu .active .icon {
    display: block !important;
} */