html {
    transition: background-color 0.3 ease, color 0.3 ease;
}



article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

#btn-back-to-top {
    display: none;
}

/* Navbar */
.nav-link:hover{
    cursor: pointer;
}

/* About landing page */

#blog-header {
    font-size: 2.25rem !important;
}

#intro-image {
    min-height: 50vh;
    aspect-ratio: 1;
    background: url(./images/personal-photo.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#outdoors-image {
    background: url(./images/outdoors.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#programming-image {
    background: url(./images/programming.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#cooking-image {
    background: url(./images/cooking.jpg) 50% 50%;
    background-size: cover;
    overflow: hidden;
}

[data-about-link]{
    cursor: pointer;
}

/* Outdoors */

.outdoor-image{
    width: -webkit-fill-available;
}

.read-more:hover{
    cursor: pointer;
}

/* Cooking */

#recipeHeader{
    display: none !important;
}

#recipeHeader.active{
    display: block !important;
}


.recipe-border.active, .recipe-border:hover{
    background-color: beige;
}

.card{
    min-height: 18vw !important;
    max-height: 18vw !important;
}

.card:hover{
    cursor: pointer;
}

.card-img-top{
    min-height: 10vw !important;
    max-height: 10vw !important;
}

.card-text{
    text-indent: 2ch;
}

.full-recipe{
    display: none !important;
}

.full-recipe > div > div > img{
    aspect-ratio: 16/9;
}

.full-recipe.active{
    display: flex !important;
    animation: fade 1s ease backwards;
}

/* Contacts */

.form-control{
    field-sizing: content;
}

#submitButton {
    justify-self: end;
    background-color: var(--bs-body-bg);
}